
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";
    grid-template-rows: 2fr 2fr 5fr 2fr; /* Adjusted height ratios */
    grid-template-rows: auto auto 1fr auto auto; /* Header, nav, main (flexible), aside, footer */
    height: 100vh; 
    font-family: Arial, sans-serif; 
}

header {
    grid-area: header;
    background-color: #333;
    color: #fff;
}

header h2 {
    padding: 1rem;
    padding-bottom: 3rem; 
}

nav {
    grid-area: nav;
    background-color: #1a1a1a;;
}

nav ul {
    display: flex; 
    list-style-type: none;
    justify-content: space-around; 
    padding: 0.5rem 1rem;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: blanchedalmond;
    background-color: black;
    transition: color 0.3s;
    border-radius: 5px;
}

main {
    display: contents; 
}

section {
    grid-area: main; 
    background-color: #d3d3d3;
}

section h2 {
    color: #4a4a4a;
    padding: 10px;
}

aside {
    grid-area: aside; 
    background-color: #fff;
}

aside h2 {
    color: #4a4a4a;
    padding: 10px;
}


footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    padding: 3rem;
    text-align: center;
}


/* Responsive design for larger screens (e.g., to place main and aside side by side) */
@media (min-width: 768px) {
    body {
        grid-template-areas: 
            "header header"
            "nav nav"
            "main aside"
            "footer footer";
        grid-template-columns: 3fr 1fr; /* Main takes 3 parts, aside takes 1 */
        grid-template-rows: auto auto 1fr auto; /* Adjust rows */
    }
}